<!-- TopNavBar -->
<nav class="sticky top-0 z-50 bg-[#f1f8fa] dark:bg-slate-900 border-b-4 border-[#71787a] w-full">
    <div class="flex justify-between items-center w-full px-6 py-4 max-w-[1440px] mx-auto">
        <div class="flex items-center gap-8">
            <a href="../index.html" class="text-2xl font-black text-[#00684f] dark:text-[#89f0cb] tracking-tighter font-headline"><img
                    src="../assets/images/LOGO1.png" width="53" title="Wedu-logo" alt="Wedu-logo"></a>
            <div class="hidden md:flex gap-6 items-center">
                <a data-i18n="topnav1"
                    class="nav-link font-['Space_Grotesk'] font-bold uppercase tracking-wider text-[#2f6275] dark:text-slate-400 hover:text-[#00684f] hover:bg-[#89f0cb] transition-all duration-75 active:translate-y-1"
                    href="../pages/map.html">Pathways</a>

                <a data-i18n="topnav3"
                    class="nav-link font-['Space_Grotesk'] font-bold uppercase tracking-wider text-[#2f6275] dark:text-slate-400 hover:text-[#00684f] hover:bg-[#89f0cb] transition-all duration-75 active:translate-y-1"
                    href="../pages/sandbox.html">Sandbox</a>

                <a data-i18n="topnav4"
                    class="nav-link font-['Space_Grotesk'] font-bold uppercase tracking-wider text-[#2f6275] dark:text-slate-400 hover:text-[#00684f] hover:bg-[#89f0cb] transition-all duration-75 active:translate-y-1"
                    href="../pages/library.html">Library</a>
            </div>
        </div>
        <div class="flex items-center gap-4">
            <button data-i18n="btn_start"
                class="px-6 py-2 bg-primary text-on-primary font-headline font-bold uppercase tracking-wider border-2 border-on-primary-fixed pixel-shadow pixel-shadow-hover pixel-shadow-active">Start
                Learning</button>
            <div
                class="w-10 h-10 border-2 border-outline bg-surface-container-highest flex items-center justify-center">
                <img alt="User pixel avatar"
                    data-alt="8-bit style pixelated character avatar with a neon green background and retro aesthetic"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuBCTp7qU8gmtDkri38HkxQoCGCNSusj1B32xOuyDwkOcRCT1HgpmGOgu3UoSwrbM0GwpT-59Boqiuwt0uyPU78C1oycUVvXS5BJrKkGtfGukcbQG6WLh30wqrEHTuNOqLOHvOlE3qObIUAtr_8WWtfTxAoE9yMsbDoF-lTdlkxhKPbbCalsGDhR0kis2I0PX8w3_tWsTY5b6ButRs6UtH5GCPDBxn5tT8O-qt3j_EUvfi5izACVmbG0UpqnqvGbXEIcggsNQU7qvEQ" />
            </div>
        </div>
    </div>
</nav>
